.citacao-bio {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    padding: 20px;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
}

blockquote:nth-of-type(odd) {
    float: left;
    margin-left: 0;
    box-sizing: border-box;
}

blockquote:nth-of-type(even) {
    float: right;
    margin-right: 0;
    box-sizing: border-box;
}

blockquote:nth-of-type(odd) p {
    float: right
}

.rodape-pagina {
    background-image: radial-gradient(ellipse at left bottom, 
                    rgba(60, 29, 61, 0.8), 
                    rgba(60, 29, 61, 0.8) 65%,
                    black 65%,
                    black 70%,
                    transparent 70%,
                    transparent);
    background-size: 25% 100%;
    background-repeat: no-repeat;
}