.citacao-bio {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    padding: 20px;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s;
}

blockquote {
    position: relative;
}

blockquote:nth-of-type(even) {
    float: left;
    margin-left: 0;
    box-sizing: border-box;
}

blockquote:nth-of-type(odd) {
    float: right;
    margin-right: 0;
    box-sizing: border-box;
}

blockquote:nth-of-type(even) p {
    float: right
}

.rodape-pagina {
    background-image: radial-gradient(ellipse at left bottom, 
                    rgba(60, 29, 61, 0.8), 
                    rgba(60, 29, 61, 0.8) 65%,
                    black 65%,
                    black 70%,
                    transparent 70%,
                    transparent);
    background-size: 25% 100%;
    background-repeat: no-repeat;
}

.citacao-bio:hover, 
.citacao-bio:focus {
    z-index: 9999;  
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -webkit-transform: rotate(10deg) scale(1.2);
    transition-delay: 0s, 1s;
}

.container > p::first-letter {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

blockquote::before {
    content: '"';
    font-size: 10em;
    position: absolute;
    top: -40px;
    left: 10px;
    opacity: 0.16;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
}

th, td {
    padding: 1em;
    border: 5px solid transparent;
}

td {
    background-color: #f5f5f5;
    color: black;
}

thead th {
    background-color: rgba(60, 29, 61, 0.8);
    color: #FFF;
}

tbody th {
    background-color: #851944;
    color: #FFF;
}

.centralize {
    text-align: center;
    vertical-align: middle;
    font-style: italic;
}