html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    perspective: 6px;
    -moz-perspective: 6px;
    -webkit-perspective: 6px;
    perspective-origin: 50% 160px;
    -moz-perspective-origin: 50% 160px;
    -webkit-perspective-origin: 50% 160px;
}

header {
    position: relative;
}

.foto-home {
    height: 200px;
    box-shadow: 0 0 1em #000;
    border-radius: 50%;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}
.saudacao p {
    color: #99A;
    line-height: 1;
}
.saudacao-inicio {
    color: #889;
    font-size: 5rem;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
}
.saudacao em {
    color: #851944;
}
.botao-index {
    font-size: 1.25rem;
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    padding: .5em;
    margin: 2em auto;
    box-shadow: 0 0 1em #000, inset 0 0 1em #FFF;
}

h1 {
    text-shadow: 5px 5px #000;
}

h2{
    font-size: 3.2rem;
    padding: 0.8em;
    text-shadow: 5px 5px #000;
}

small{
    padding: 2.2em;
}

.blog ol li {
    margin: 1.2em 2em;
    padding: 0.1em;
}

.sites{
    font-size: 6rem;
    transform: rotate(-5deg) skew(-10deg);
    -moz-transform: rotate(-5deg) skew(-10deg);
    -webkit-transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
}

.nome {
    font-size: 4rem;
}

.saudacao {
    padding: 2.5em;
    margin: auto;
    margin-bottom: 2.5em;
}

footer p {
    padding: 1em 2em;
}

.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
}
.blog li a {
    color: #FCF;
}
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.palavras-home {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.palavras-home li { 
    font-size: 300%;
}

.palavra-home {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.1em;
    color:rgba(255, 127, 127, 0.5);
    font-weight: bold;
}

.eficiencia {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.45);
    opacity: 0.85;
}

.boas-praticas {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-21deg) translateZ(2px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(-21deg) translateZ(2px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(-21deg) translateZ(2px) scale(0.45);
    opacity: 0.65;
}

.codigo-limpo {
    position: absolute;
    top: 25%;
    left: 27%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(-1px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(-10deg) translateZ(-1px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(-10deg) translateZ(-1px) scale(0.45);
    opacity: 0.45;
}

.css3 {
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(12deg) translateZ(-4px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(12deg) translateZ(-4px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(12deg) translateZ(-4px) scale(0.45);
    opacity: 0.25;
}

.html5 {
    position: absolute;
    top: 26%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(3deg) translateZ(2px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(3deg) translateZ(2px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(3deg) translateZ(2px) scale(0.45);
    opacity: 0.65;
}

.javascript {
    position: absolute;
    top: 32%;
    left: 68%;
    transform: translate(-50%, -50%) rotate(-12deg) translateZ(-1px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(-12deg) translateZ(-1px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(-12deg) translateZ(-1px) scale(0.45);
    opacity: 0.45;
}

.acessibilidade {
    position: absolute;
    top: 34%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(18deg) translateZ(3px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(18deg) translateZ(3px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(18deg) translateZ(3px) scale(0.45);
    opacity: 0.75;
}

.responsivo {
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-20deg) translateZ(-2px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(-20deg) translateZ(-2px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(-20deg) translateZ(-2px) scale(0.45);
    opacity: 0.55;
}

.otimizacoes {
    position: absolute;
    top: 42%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-16deg) translateZ(-1px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(-16deg) translateZ(-1px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(-16deg) translateZ(-1px) scale(0.45);
    opacity: 0.45;
}

.agilidade {
    position: absolute;
    top: 50%;
    left:40%;
    transform: translate(-50%, -50%) rotate(9deg) translateZ(4px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(9deg) translateZ(4px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(9deg) translateZ(4px) scale(0.45);
    opacity: 0.85;
}

.design {
    position: absolute;
    top: 75%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(19deg) translateZ(-1px) scale(0.45);
    -moz-transform: translate(-50%, -50%) rotate(19deg) translateZ(-1px) scale(0.45);
    -webkit-transform: translate(-50%, -50%) rotate(19deg) translateZ(-1px) scale(0.45);
    opacity: 0.45;
}

.blog {
    position: relative;
}

.mais-recente {
    background-color: #F2FFFC;
    padding: 1.5em;
}

.inicio-post{
    position: absolute;
    background-color: #F2FFFC;
    padding: 1em;
    left: 30%;
    top: 7em;
    height: 8em;
    color: #000;
}

.blog .mais-recente a {
    color: #F26;
}

.blog li {
    width: 30%;
}

.link-etiqueta {
    font-family: "Open Sans Condensed", sans-serif;
    position: absolute;
    border: 0.3rem solid #000;
    background-color: #3C1D3D;
    box-sizing: border-box;
    line-height: 2em;
    width: 18rem;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: translate(6.5754em, -2.4749em) rotate(45deg);
    -moz-transform: translate(6.5754em, -2.4749em) rotate(45deg);
    -webkit-transform: translate(6.5754em, -2.4749em) rotate(45deg);
}

.titulo-principal {
    background-image: linear-gradient(to bottom left, #851944, black);
}